#myVideo-container:before {
    background: linear-gradient(#847dbfd7,#847dbfd7);
}

.creatorContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90svh;
    gap: 3rem;
}

h1 {
    font-family: 'Magazine';
    font-size: 5rem;
    color: white;
    letter-spacing: 1rem;
    text-shadow: 5px 5px black;
}

span {
    font-size: 2.1rem;
    text-shadow: 1px 1px black;
}

.creatorContent {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.creatorContent img {
    width: 20rem;
}

.creatorCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.cardImage {
    height: 425px;
    overflow: hidden;
    box-shadow: 5px 5px #483370;
    transition: .5s;
}

.cardImage:hover {
    box-shadow: 0px 0px 50px rgb(197, 166, 255);
}

.cardImage img {
    transition: .5s;
}

.cardImage:hover img {
    transform: scale(1.1);
}

@media (max-width: 600px) {

    #myVideo-container::before {
        height: 150%;
        overflow: hidden;
    }

    body {
        overflow-y: auto;
    }

    h1 {
        font-size: 2rem;
    }
    
    .creatorContainer {
        padding: 3rem 0 2rem 0;
        height: 100%;
        width: 100%;
        overflow-y: auto;
    }

    .creatorContent {
        flex-direction: column;
    }

    .creatorCard {
        zoom: 60%;
    }
}

/* GitHub Fetch */