* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'LILIMING';
    src:url('res/fonts/LILIMING W00 Regular.ttf')
}

body {
    font-family: 'LILIMING';
    color: white;
    overflow: hidden;
}

#overlay {
    border-image: fill 1
    linear-gradient(to right,rgba(65, 0, 255, 0.4),rgba(255, 0, 232, 0.3));
    backdrop-filter: blur(16px);
  }

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -2;
  }

  #myVideo-container:before {
    content: '';
    position: absolute;
    min-height: 100%;
    width: 100%;
    background: linear-gradient(#847dbf65,#847dbfa1);
    z-index: -1;
  }

  nav {
    top: 0;
    position: sticky;
    background-color: #211637;
    z-index: 99;
  }

  .nav-container ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 2rem;
    height: 0;
  }

  .nav-container ul li:first-child {
    margin-right: auto;
  }

  .nav-container ul li a {
    text-decoration: none;
    color: white;

  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2rem 0;
    gap: .5rem;
  }

  main {
    background-image: url('res/images/bgwebsite.png');
    background-size: cover;
    height: 100svh;
    z-index: 1;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100svh;
    margin: 0 30rem;
  }

  h1 {
    text-shadow: 0px 0px 15px white;
    font-size: 2rem;
    text-align: center;
  }

  .content {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    gap: 8rem;
  }

  /* Button */

  .getStartedButton {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
    text-decoration: none;
  }

  .getStartedButton:hover {
    transition: .5s;
    rotate: -15deg;
  }

  .getStarted {
    text-decoration: none;
    color: white;
    font-size: 3rem;
    transition: .5s;
  }

  .getStartedButton:hover .getStarted {
    text-shadow: 0px 0px 15px white;
    text-decoration: none;
    transition: .5s;
  }

  .bandaid {
    position: absolute;
    z-index: -1;
  }

  /* .star {
    transition: .2s;
    margin-bottom: -4rem;
    width: 200px;
    aspect-ratio: 1;
    background-color: #5c568f;
    position: relative; /* Needed for positioning the ::before pseudo-element 
    clip-path: polygon(50% 0, 79% 90%, 2% 35%, 98% 35%, 21% 90%);
    filter: drop-shadow(30px 10px 4px #4444dd);
  }
  
  .star::before {
    content: "Get Started"; /* Replace with your desired text 
    position: absolute;
    color: white;
    font-size: 1.7em;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .star:hover {
    transition: .2s;
    background-color: #3c4170; /* Change background color on hover 
    transform: scale(1.1); /* Slightly enlarge the star on hover 
  } */


  /* Login Styling */

  .loginMain { 
    transition: .5s ease-in-out;
    background-image: url('res/images/loginbg.png');
    background-size: auto;
    height: 100svh;
    z-index: 29;
  }

  #overlayImage {
    position: absolute; /* Position the image above the video and gradient */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust for perfect centering */
    z-index: -1; /* Ensure the image is above the gradient and video */
    width: 100%; /* Adjust size */
    height: auto; /* Maintain aspect ratio */
  }

  .loginContainer {
    height: 90svh;
    width: 100%;
    align-content: center;
    z-index: 3;
  }

  .loginBox {
    /* width: 500px;
    height: 700px; */
    background-color: #524a96;
    float: right;
    margin-right: 16rem;
    display: flex;
    flex-direction: column;
    padding: 3rem 7rem;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;
    zoom: 120%;
  }

  .loginBox input {
    padding: 1rem;
    border-radius: 2rem;
    border: none;
    width: 120%;
  }

  .loginBox label {
    margin-right: auto;
    margin-bottom: -1.5rem;
  }

  .loginBox button {
    width: 135%;
    padding: 1rem 5rem;
    border: none;
    border-radius: 1.5rem;
    cursor: pointer;
    color:white;
    background-color: #847dbf;
    transition: .5s;
  }

  .loginBox button:hover {
    transition: .5s;
    background-color: #96a1d6;
  }
  

  /* End of Login Styling */