* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'LILIMING';
    src:url('res/fonts/LILIMING W00 Regular.ttf')
}

@font-face {
  font-family: 'RansomFont';
  src: url('res/fonts/ransom.ttf');
}

body {
    font-family: 'LILIMING';
    color: white;
    overflow: hidden;
}

#overlayImage { /* Styling for the png above the video */
  position: absolute; /* Position the image above the video and gradient */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust for perfect centering */
  z-index: -1; /* Ensure the image is above the gradient and video */
  width: 100%; /* Adjust size */
  height: auto; /* Maintain aspect ratio */
}

#myVideo { /* Stylings for the video background */
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -2;
  }

  #myVideo-container:before { /* The color above the video */
    content: '';
    position: absolute;
    min-height: 100%;
    width: 100%;
    background: linear-gradient(#847dbf65,#847dbfa1);
    z-index: -1;
  }

  /* Start of nav */

  nav {
    top: 0;
    position: sticky;
    background-color: #211637;
    z-index: 99;
  }

  .nav-container ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 2rem;
    height: 0;
  }

  .nav-container ul li:first-child {
    margin-right: auto;
  }

  .nav-container ul li a {
    text-decoration: none;
    color: white;

  }

  /* End of nav */

  /* Footer stylings */

  footer { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2rem 0;
    gap: .5rem;
    font-size: .8rem;
  }

  /* End of footer stylings */

  /* index.html content stylings */

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100svh;
    margin: 0 30rem;
  }

  .homeText {
    text-shadow: 0px 0px 15px white;
    font-size: 2rem;
    text-align: center;
  }

  .content {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    gap: 8rem;
  }

  /* End of index.html */

  /* Band-aid Button */

  .getStartedButton {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
    text-decoration: none;
  }

  .getStartedButton:hover {
    transition: .5s;
    rotate: -15deg;
  }

  .getStarted {
    text-decoration: none;
    color: white;
    font-size: 3rem;
    transition: .5s;
  }

  .getStartedButton:hover .getStarted {
    text-shadow: 0px 0px 15px white;
    text-decoration: none;
    transition: .5s;
  }

  .bandaid {
    position: absolute;
    z-index: -1;
  }

  /* End Band-aid button */

  /* Login/Sign-up Styling */

  .loginContainer { /* Contains the loginBox; it centers the elements within it (loginBox) with display: flex */
    height: 90svh;
    width: 100%;
    align-content: center;
    z-index: 3;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .loginBox { /* Has the color and the form elements, is a form tag and centers everything within it with display: flex */
    background-color: #524a96;
    float: right;
    margin-right: 16rem;
    display: flex;
    flex-direction: column;
    padding: 3rem 7rem;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;
    zoom: 90%;
    width: 400px;
  }

  .loginBox input { /* To make the input borders rounded and ensure max width */
    padding: 1rem;
    border-radius: 2rem;
    border: none;
    width: 100%;
  }

  .loginBox label { /* To position the label sa left, nakagitna kac pag indi nilagyan ni2 (dahil sa align-items center sa loginBox)*/
    margin-right: auto;
    margin-bottom: -1.5rem;
  }

  .loginBox button { /* Button styling */
    width: 100%;
    padding: 1rem 5rem;
    border: none;
    border-radius: 1.5rem;
    cursor: pointer;
    color:white;
    background-color: #847dbf;
    transition: .5s;
  }

  .loginBox button:hover {
    transition: .5s;
    background-color: #96a1d6;
  }
  
  .loginBox h1 {
    font-family: 'RansomFont';
    font-size: 4rem;
    text-align: center;
  }

  .loginBox a {
    text-decoration: none;
    color: white;
    transition: .5s;
  }

  .loginBox a:hover {
    text-shadow: 0 0 15px white;
    transition: .5s;
  }

  /* End of Login Styling */


  /* Media Stylings */
  /* This is for adjusting the site's elements depending on the screen size (Desktop, phone, tablet), defined by px (1920 x 1080) */

  @media (max-height: 900px) {

    .container {
      margin: 0 2rem;
    }

    .getStartedButton {
      transform: scale(50%);
    }
    .homeText {
      font-size: 1rem;
    }

    #overlayImage {
      display: none;
    }
  }


  /* End of Media Stylings */